*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body 
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img
  max-width: 100%
.section
  &--dark
    background-color: $dark
    color: $light
  &-title
    padding-top: 4rem
    text-align: center
    &__text
      font-size: 1.29rem
      line-height: 2.07rem
      max-width: 31.57rem
    &--left
      text-align: left
    &__heading
      font-family: 'Yeseva One', sans-serif
      text-transform: uppercase
      line-height: 2.64rem
      &--primary
        color: $primary
    &__word
      display: flex
      align-items: center
      &::after
        content: ''
        width: 85px
        height: 1px
        background-color: $primary
        margin-left: 2rem
    &__image
      &::after, &::before
        content: ''
        vertical-align: text-top
        margin: 0 10px
        display: inline-block
        width: 32px
        height: 2px
        background-color: $primary
    &__description
      margin: auto
      margin-top: 1.64rem
      font-size: 1.07rem
      line-height: 135.84%
      max-width: 52rem
        