*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body 
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img
  max-width: 100%
.section
  &-title
    padding-top: 4rem
    text-align: center
    &__heading
      font-family: 'Yeseva One', sans-serif
      text-transform: uppercase
    &__image
      &::after, &::before
        content: ''
        vertical-align: text-top
        margin: 0 10px
        display: inline-block
        width: 32px
        height: 2px
        background-color: $primary
    &__description
      margin: auto
      margin-top: 1.64rem
      font-size: 1.07rem
      line-height: 135.84%
      max-width: 52rem
        