.footer
  background: $dark url('../img/footer-bg.webp') no-repeat center / cover
  padding-top: 3rem
  position: relative
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba($dark, 0.9)
  &__text
    margin-bottom: 2.8rem
  &__subtitle
    max-width: 35.714rem
    position: relative
    margin: auto
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 1.428rem
    line-height: 28px
    text-align: center
    color: $primary
    text-transform: uppercase
  &__icon-group
    display: flex
    margin-top: 1.5rem
    justify-content: center
    position: relative
  &__link
    margin-right: 1rem
  &__wrap
    position: relative
    background-color: $black
    max-width: 63.1rem
    margin: auto
    margin-top: -20rem
    margin-bottom: 3.714rem
    padding: 2.5rem 12.9rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    text-align: center
    font-size: 1.428rem
    margin-bottom: 3.2rem
    margin-top: 0
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: auto
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.2rem 
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem
  &__policy
    flex-basis: 100%
    margin-bottom: 0.5rem 
    &-label
      justify-content: center
  &__button
    padding: 1.285rem 4.785rem
    &-wrap
      flex-basis: 100%
      display: flex
      justify-content: center
      margin-top: 3rem
  &__menu
    position: relative
    background-color: $dark
    padding: 4.285rem 0rem
.ymap-container 
  position: relative
  margin: auto
  margin-bottom: 4rem
  min-height: 33.214rem
  max-width: 66.07rem
  overflow: hidden
  cursor: pointer
  background: url('../img/yandex-before-load-marker.webp') #ffffff no-repeat
  background-position: center center
  background-size: cover
  box-shadow: 0 0 2em  0 rgba(0,0,0,.2)
#map-yandex 
  position: relative
  z-index: 7
  width: 66.07rem
  height: 33.214rem
  cursor: pointer
  background-color: transparent

.loader 
  position: absolute
  z-index: 15
  top: -100%
  left: 0
  box-sizing: border-box
  width: 100%
  height: 100%
  overflow: hidden
  color: #000000
  transition: opacity .7s ease
  opacity: 0
  background-color: rgba(0,0,0,.55)

 
.loader:after,
.loader:before 
  box-sizing: border-box

.loader.is-active 
  top: 0
  opacity: 1

 
.loader-default:after 
  position: absolute
  top: calc(50% - 24px)
  left: calc(50% - 24px)
  width: 48px
  height: 48px
  content: ''
  animation: rotation 1s linear infinite
  border: solid 8px #ffffff
  border-left-color: transparent
  border-radius: 50%

 
@keyframes rotation 
  from 
    transform: rotate(0)
  to 
    transform: rotate(359deg)
  

 
@keyframes blink 
  from 
    opacity: .5
  
  to 
    opacity: 1

